{% extends 'index_template.html' %}}

{% block content %}
    После смерти Александра в 323 году до н. э. Лисимах получил, в изложении Юстина «как храбрейший из всех»,
    в управление самую неспокойную провинцию Македонской империи — Фракию. Вначале его власть распространялась
    лишь на прибрежные земли возле Чёрного и Эгейского морей. Первые двадцать лет он был занят войнами против фракийцев,
    придунайских скифов, гетов и бунтовавших греческих полисов, которые проходили с переменным успехом.
    Во время одного из походов он даже попал в плен к правителю гетов Дромихету, который счёл более выгодным для себя
    отпустить высокопоставленного пленника домой. Вплоть до 302 года до н. э., хотя Лисимах и участвовал в многочисленных
    и кровопролитных войнах диадохов за наследство Александра, его роль была незначительной. Владения Лисимаха находились
    на окраине Македонской империи и не вызывали особого интереса у амбициозных диадохов. Ситуация изменилась во время
    Четвёртой войны диадохов. К этому времени Лисимах смог собрать сильное войско, а также аккумулировать в казне
    необходимые для ведения войны средства. В союзе с другими диадохами Селевком и Кассандром он участвовал в битве при
    Ипсе 301 года до н. э., во время которой погиб Антигон I Одноглазый.
{% endblock %}

{% block left %}
    <div class="container left-sidebar">
        <p><a href="#">Регистрация</a></p>
        <p><a href="#">Вход</a></p>
    </div>
{% endblock %}